
<aside class="blog aside section">
    <div class="section-inner">
        <h2 class="heading">Introduce  Admin</h2>
        <div id="rss-feeds" class="content">
        <img class="profile-image img-responsive pull-center center-block" src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p160x160/26994240_1763069480668467_3508211138446787995_n.jpg?_nc_cat=0&oh=9db8c44016a5b570dd9d71fb24d17213&oe=5B6FCF43" alt="dsf>" />
        <div class="profile-content pull-center">
            <h1 class="name text-center">Peter Dinh</h1>
            <h4 class="desc text-center">Developer Blog</h4>   
            <ul class="social list-inline center">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>               
                <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>                 
            </ul> 
        </div><!--//profile-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->